
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Poppins;
}

body{
  margin: 2rem;
}

footer img{
  max-width:100%;
}

#tout {
  min-height:100vh; /* 1 */
  position:relative;
}

footer {
  position:absolute;
  display: flex;
  bottom:0;
  left:0;
  right:0;
  align-items:center;
  justify-content: center;
}

footer img{
  max-width: 5rem;
}

header {
  padding-left: 8rem;
  padding-right: 8rem;
  margin-bottom: 3rem;
}

header h1 {
  font-family: Dancing script;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}

header h2 {
  margin-top: -1rem;
  font-size: 1rem;
  text-align:right;
}



input{
  width:100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

input[type = submit]{
  background-color: rgb(116, 116, 255);
  color: white;
  font-weight: bold;
  border: none;
  
}

input[type = checkbox]{
  width: 5%;
}



#souvenir {
  display:flex;
  align-items: center;
}

#compte a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

#compte {
  margin-top: 5rem;
}